<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/simple.css">
    <title>Team lv-330</title>
</head>

<body>
    <div class="list">
        <h1>Team lv-330</h1>
        <ul>
        <% teammates.forEach(function(mate) { %>
            <li><%= mate.firstName + ' ' + mate.lastName %>
                    <input class="edit" type="submit" value="Edit" />
                <form class="id-form" action=<%= "/edit/" + mate.lastName %> method="post">
                    First name:<br>
                      <input type="text" id="firstname" name="firstname" value= <%= mate.firstName %> >
                      <br>
                      Last name:<br>
                      <input type="text" id="lastname" name="lastname" value= <%= mate.lastName %>>
                      <br><br>
                      <input id="save" type="submit" value="Submit">
                </form>
                <form action=<%= "/delete/" + mate.lastName %> >
                    <input id="delete" type="submit" value="Delete" />
                </form>

            </li>

        <% }); %>
        </ul>
        <form action="/add" method="post">
          First name:<br>
          <input type="text" id="firstname" name="firstname" >
          <br>
          Last name:<br>
          <input type="text" id="lastname" name="lastname" >
          <br><br>
          <input id="save" type="submit" value="Submit">
        </form>
    </div>
    <script type="text/javascript">
        let list = document.getElementsByClassName('edit');
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = function() {
                list[i].nextElementSibling.style.display = 'block';
            };
        }
    </script>
</body>

</html>